h2 {
  color: var(--md-accent-fg-color) !important;
}

/* Stretch button */
.md-button {
  text-align: center;
  width: 100%;
}

/* Less bold admonition titles */
.md-typeset .admonition-title {
  font-weight: 450 !important;
}
.filename {
  font-weight: 450 !important;
}
